.menu{
    display: flex;
    flex-direction: column;
    background-color: #CBC4FF;
    min-width: 38vh;
    max-width: 38vh;
    padding-top: 10px;
    min-height: 88vh;
}

.search_box{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
    border: 1px solid black;
    width: 35vh;
}

.search_input{
    border: 0;
    height: 40px;
    width: 25vh;
    font-size: 20px;
}

.search_input:focus{
    outline: none;
}

.magnifier{
    width: 50px;
}

li{
    margin-left: 10px;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}