body, html{
    margin:0;
    padding:0;
}

.total{
    display: flex;
    flex-direction: row;
}

.content{
    min-width: 70%;
    max-width: 70%;
    margin-left: 2%;
}

.actualites{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.actualite{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #E8E0FF;
    width: 230px;
    height: 240px;
    margin: 0 2%;
    border-radius: 15px;
    margin-top: 10px;
}

.actu_image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.title{
    margin: 0 10px;
    text-align: justify;
}

.popup{
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.close_popup{
    position: absolute;
    right: 50px;
    font-size: 24px;
}

.close_popup:hover{
    cursor: pointer;
}

.detail_image{
    width: 300px;
    height: 300px;
}